caption,legend,label,form,fieldset,li,ul,ol,dd,dt,dl,q,img,em,dfn,del,code,address,acronym,abbr,a,pre,blockquote,p,h6,h5,h4,h3,h2,h1,iframe,object,span,div,body,html {font:100% inherit inherit inherit;border:0;vertical-align:baseline}
caption,legend,label,form,fieldset,li,ul,ol,dd,dt,dl,q,img,em,dfn,del,code,address,acronym,abbr,a,pre,blockquote,p,h6,h5,h4,h3,h2,h1,iframe,object,span,div,body,html,h6 img,h5 img,h4 img,h3 img,h2 img,h1 img {margin:0}
caption,legend,label,form,fieldset,li,ul,ol,dd,dt,dl,q,img,em,dfn,del,code,address,acronym,abbr,a,pre,blockquote,p,h6,h5,h4,h3,h2,h1,iframe,object,span,div,body,html,p img.left {padding:0}
body,tt,code,pre {line-height:1.5}
caption {text-align:left;background:#eee}
caption,h6,h5,h4,h3,h2,h1 {font-weight:normal}
a img,hr {border:none}
body {font:75% "helvetica neue",arial,helvetica,sans-serif;color:#222;background:#fff}
h6,h5,h4,h3,h2,h1 {color:#111}
h1 {font-size:3em;margin-bottom:0.5em}
h1,h3 {line-height:1}
h2 {font-size:2em;margin-bottom:0.75em}
h3,input.title {font-size:1.5em}
h3,.success,.notice,.error1 {margin-bottom:1em}
h4,.large,legend {font-size:1.2em}
h4 {line-height:1.25}
h4,.large {margin-bottom:1.25em}
h5,h6 {font-size:1em}
h5,h6,strong,dfn,dl dt,label,legend {font-weight:bold}
h5 {margin-bottom:1.5em}
p,address {margin:0 0 1.5em}
p img.left {float:left;margin:1.5em 1.5em 1.5em 0}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em}
a:hover,a:focus,.loud {color:#000}
a {color:#009;text-decoration:underline}
dfn,em,address {font-style:italic}
sub,sup {line-height:0}
acronym,abbr {border-bottom:1px dotted #666}
del,.quiet {color:#666}
pre {margin:1.5em 0;white-space:pre}
tt,code,pre {font:1em 'andale mono','lucida console',monospace}
dl,fieldset {margin:0 0 1.5em 0}
dd {margin-left:1.5em}
.small {font-size:.8em;	margin-bottom:1.875em;line-height:1.875em}
.large {line-height:2.5em}
.hide {display:none}
.highlight {background:#ff0}
.added {background:#060}
.added,.removed {color:#fff}
.removed {background:#900}
.first {margin-left:0;padding-left:0}
.last {margin-right:0;padding-right:0}
.top {margin-top:0;padding-top:0}
.bottom {margin-bottom:0;padding-bottom:0}
hr {background:#ddd;color:#ddd;float:none;width:100%;height:.1em;margin:0 0 1.45em}
hr,.container:after,.clearfix:after,.clear,.clearfix:after {clear:both}
.container:after,.clearfix:after {content:"?020";overflow:hidden}
.container:after,.clearfix:after,.container,.clearfix,.clearfix:after {display:block}
.container:after,.clearfix:after,.clearfix:after {height:0;visibility:hidden}
.clearfix:after {font-size:0;content:" "}
* html .clearfix,*:first-child+html .clearfix {zoom:1}
fieldset {padding:1.4em;border:1px solid #ccc}
select:focus,textarea:focus,input.title:focus,input.text:focus {border:1px solid #666}
input.title,input.text {width:300px}
input.title,input.text,textarea {padding:5px}
textarea {width:390px;height:250px}
.success,.notice,.error1 {padding:.8em;border:2px solid #ddd}
.error1 {background:#fbe3e4;border-color:#fbc2c4}
.error1,.error1 a {color:#8a1f11}
.notice {background:#fff6bf;border-color:#ffd324}
.notice,.notice a {color:#514721}
.success {background:#e6efc2;border-color:#c6d880}
.success,.success a {color:#264409}